<div class="top-content loginContent">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-sm-offset-3 form-box">
              <div class="form-top">
                  <div class="form-top-left">
                      <h3>Login to ShowMe</h3>
                      <p>Enter your Email address and Password to log in:</p>
                  </div>
                  <div class="form-top-right">
                      <i class="fa fa-lock"></i>
                  </div>
              </div>
              <div class="form-bottom">
                  <form role="form" class="login-form" #userlogin = "ngForm">
                      <div class="form-group">
                          <label class="sr-only" for="form-username">Email Adress</label>
                          <input type="text" name="email" placeholder="Email..." class="form-username form-control" id="form-username" ngModel>
                      </div>
                      <div class="form-group">
                          <label class="sr-only" for="form-password">Password</label>
                          <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password" ngModel>
                      </div>
                      <button name="signIn" type="submit" class="btn" (click)=onSubmit(userlogin.value)>Sign in!</button>
                  </form>
                  <br>
                  <div class="form-bottom-left">
                      <p>Need an Account? <a  routerLink="/sign-up">Sign Up Now!</a></p>
                  </div>
              </div>
          </div>
      </div>
      <div class="row text-center">
          <div class="col-sm-6 col-sm-offset-3 social-login">
              <h3>or</h3>
              <div class="social-login-buttons">
                  <a class="btn btn-link-1 btn-link-1-google-plus" href="<?php echo $authUrl?>"><i class="fa fa-google-plus"></i> Sign in with Google</a>
              </div>
          </div>
      </div>
  </div>
</div>