.container {
  padding: 80px 120px;
  text-align: left
}
#cy {
    width: 90%;
    height: 90%;
    position: absolute;
    left: 80px;
    top: 50;
    right: 40px;
    bottom: 50;
   
  }


.tooltip {
position: relative;
display: inline-block;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 120px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;

/* Position the tooltip */
position: absolute;
z-index: 1;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}

.item {
  background: #fefff9;
  text-align: center;
  padding: 30px;
}

h2 {
  color: #6a6a6a;
  font-size: 15px;
}

.rate {
  text-align: center;
  background-color: #5b5b5b;
}

.rate a {
  font-size: 36px;
  cursor: pointer;
  color: #FFD119;
}

.snippetButton {
  border: none;
}