beautifulsoup4==4.6.0
bibtexparser==1.0.1
Flask==0.12.2
Flask-Cors==3.0.3
pdfminer.six==20170720
xmltodict==0.11.0
pymysql==0.8.0
pytest==3.4.2
requests==2.12.4
codecov==2.0.15
pytest==3.4.2
pytest-cov==2.5.1
setuptools==39.0.0
pyjwt==1.6.1
