.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #3f3f44;
    border: 0;
    font-size: 15px !important;
    letter-spacing: 2px;
}
.navbar-brand { 
    color: #d5d5d5 !important;
}

.logout{
    color: #d5d5d5 !important;
    cursor: pointer;
}

.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}

.dropbtn {
    background-color: #3f3f44;
    color: #d5d5d5 !important;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 15px !important;
    letter-spacing: 2px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(245, 243, 243);
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a, p {
    color: #777;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    letter-spacing: 0px
}

.dropdown-content li {
    color: black;
}

.dropdown-content a:hover {
    background-color: #666669;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: black
}

.dropdown:hover .dropbtn {
    background-color: #202220e3;
}
#loggedOut {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #loggedOut.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  