<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/search">ShowMe</a>
    </div>
    <div *ngIf="isAuthenticated" class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a  class="logout" (click)="logout()">Sign Out</a>
        </li>
      </ul>
    </div>
    <div *ngIf="!isAuthenticated" class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="logout" routerLink="/login">Sign In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="loggedOut">You have been logged out</div>