/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
  }
body {
    display: block;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.item {
    background: #fefff9;
    text-align: center;
    padding: 30px;
}

h2 {
    color: #6a6a6a;
    font-size: 15px;
}

.rate {
    text-align: center;
    background-color: #5b5b5b;
}

.rate a {
    font-size: 36px;
    cursor: pointer;
    color: #FFD119;
}

.snippetButton {
    border: none;
}